<aside>
   <div id="sidebar"  class="nav-collapse ">
       <!-- sidebar menu start-->
       <ul class="sidebar-menu" id="nav-accordion">
           {% if is_granted("ROLE_SUPER_ADMIN") %}
           <li class="sub-menu">
               <a href="{{ path ('user_list') }}" >
                   <i class="fa fa-users"></i>
                   <span>Gerer les administrateurs</span>
               </a>
           </li>

           {% else %}
               <li class="sub-menu">
                 <a href="{{ path ('user_list') }}" >
                     <i class="fa fa-users"></i>
                     <span>liste des administrateurs</span>
                 </a>
              </li>
           {% endif %}
           <li class="sub-menu">
               <a href="{{ path ('media') }}" >
                   <i class="fa fa-tasks"></i>
                   <span>Gestion des medias</span>
               </a>
           </li>

           <li>
               <a  href="{{ path('fos_user_security_logout') }}">
                   <i class="fa fa-power-off"></i>
                   <span>Se déconnecter</span>
               </a>
           </li>
       </ul>
   </div>
</aside>
      